$font-family: "Zen Maru Gothic", "sans-serif";
$color-cream: #F3E7C9;
$color-yellow02:#FFFCEC;
$color-yellow04: #F4DCAE;
$color-blown01: #CEBFA4;
$color-blown03: #B9AD90;
$color-blown05: #4D4237;
$color-gray01: #F4F0F0;
$color-gray02: #4E4E4E;
$color-gray03: #3A3A3A;
$text-color: $color-blown05;
$bgc1: $color-cream;
$bgc2: $color-yellow04;

$breakpoints: (
 'sp': "screen and (max-width: 768px)",
 'pc': "screen and (min-width: 769px)",
);
@mixin mq($breakpoint: sp) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

body{
  font-family: $font-family;
  line-height: 1.5;
  color: $text-color;
  font-weight: 500;
}

.container{
  @include mq('pc'){
    max-width: 1024px;
    width: 79.9%;
    margin: 0 auto;
  }

  @include mq('sp'){
    max-width: 328px;
    width: 87.46%;
    margin: 0 auto;
  }
}

a{
  color: $text-color;
}

// * {
// 	outline: 2px solid blue;
// }

/* ===============================================
# header
=============================================== */

.header{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $bgc1;
  opacity: 0.8;
  z-index: 999;

  &__container{
    height: 96px;
    display: flex;
    justify-content: space-between;

    @include mq('sp'){
      height: 72px;
      margin-left: 24px;
    }
  }

  &__logo{
    display: flex;
    align-items: center;

    @include mq('sp'){
      margin-left: 8px;
    }

    img{
      width: 63px;
      height: 63px;

      @include mq('sp'){
        width: 40px;
        height: 40px;
      }
    }

    &-name{
      display: flex;
      align-items: center;
      font-size: 24px;
      margin-left: 20px;

      @include mq('sp'){
        font-size: 16px;
        margin-left: 10px;
      }
    }
  }

  &__nav{
    margin-top: 42px;

    @include mq('sp'){
      display: none;
    }

    &__list{
      display: flex;
      gap: 40px;

      @media screen and (max-width: 1024px) and (min-width: 768px) {
        gap: 10px;
      }
    }
  }

  &__item{

    &-link{
      @media screen and (max-width: 1024px) and (min-width: 768px) {
        font-size: 14px;
      }
    }
  }
}

/* ===============================================
# drawer-menu
=============================================== */

.drawer-icon{
  position: fixed;
  top: 28px;
  right: 32px;
  z-index:1000;
  display: none;
  transition: transform 0.5s ease 0s;

  @include mq('sp'){
   display: block;

    &.is-active{
      // transform: translateX(-200px);
      .drawer-icon__bar1{
        transform: rotate(-45deg);
        top: 8px;
      }
      
      .drawer-icon__bar2{
        display: none;
      }
      
      .drawer-icon__bar3{
        transform: rotate(45deg);
        top: 8px;
      }
    }
  }
}
.drawer-icon__bars{
  width: 20px;
  height: 16px;
}

.drawer-icon__bar1,
.drawer-icon__bar2,
.drawer-icon__bar3 {
  position: absolute;
  width: 20px;
  height: 2px;
  background-color:  $color-gray03;
  top: 0;
  left: 0;
  transition: all 0.3s;
}

.drawer-icon__bar1{
  top: 0;
}

.drawer-icon__bar2{
  top: 8px;
}

.drawer-icon__bar3{
  top: 16px;
}

.drawer-content{
  display: none;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 72px;
  right: 0;
  background-color: #F3E7C9;
  z-index: 199;
  transform: translateX(105%);
  transition: transform 0.5s ease 0s;

  &.is-active{
    transform: translateX(0);
  }

  @include mq('sp'){
   display: block;
  }
}

.drawer-content__items{
  padding-top: 60px;
}

.drawer-content__item{
  width: 78.666%;
  margin: 0 auto;
  background-color: #fff;

  a{
    display: block;
    color: $text-color;
    text-decoration: none;
    padding: 18px 20px;
    text-align: center;
  }
}
// .drawer-background{
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   background: #000000;
//   opacity: 0.8;
//   z-index: 198;
//   display: none;

//   &.is-active{
//     display: block;
//   }
// }

/* ===============================================
# fv
=============================================== */

.fv{
  background: url(../img/AdobeStock_459625967\ 1.jpg) center center no-repeat;
  height: 720px;

  @include mq('sp'){
    height: 667px;
    background-size: auto;
  }
  &__container{

  }

  &__img{
    padding-top: 192px;

    @include mq('sp'){
      padding-top: 217px;
    }

    img{
      display: block;
      margin: 0 auto;
      padding-right: 9px;
      
      @include mq('sp'){
        width: 230px;
        height: 230px;
      }
    }
  }

  &__text{
    font-size: 64px;
    text-align: center;
    line-height: 72px;
    font-weight: 500;
    text-shadow: 0 4px 4px #FFFFFF;

    @include mq('sp'){
      font-size: 36px;
      margin-top: 16px;
    }
  }
}

/* ===============================================
# section
=============================================== */

.section{
  &__container{
    padding: 72px 0;
    @include mq('sp'){
      padding: 56px 0 32px;
    }

    &-another{
      padding: 62px 0 93px;

      @include mq('sp'){
        padding: 48px 0 577px;
      }

    }

    &-products{
      padding: 62px 0 80px;

      @include mq('sp'){
        padding: 50px 0 78px;
      }
    }

    &-new-products{
      padding: 62px 0 178.5px;

      @include mq('sp'){
        padding: 62px 0 63px;
      }
    }

    &-access{
      padding: 82px 0 89px;

      @include mq('sp'){
        padding: 49px 0 31px;
      }
    }
  }

  &__title{
    text-align: center;

    &-img{

      img{
        vertical-align:top;
      }
    }

    &-name{
      font-size: 24px;

      @include mq('sp'){
        font-size: 18px;
        margin-top: 2px;
      }
    }
  }
}

/* ===============================================
# 
news
=============================================== */

.news{
  background-color: $bgc1;
  &__contents{
    margin-top: 52.5px;

    @include mq('sp'){
      margin-top: 33px;
    }
  }

  &__item{
    padding: 24px 40px 19px;

    @include mq('sp'){
      padding: 16px 0;
    }

    & + & {
      border-top: 1px solid $color-gray01;

      @include mq('sp'){
        border-top: 1px solid $color-gray03;
      }
    }

    &-link{
      display: flex;
    }

    &-date{
      font-size: 13px;
      font-weight: 400;

      @include mq('sp'){
        font-size: 12px;
      }
    }

    &-title{
      margin-left: 125px;
      margin-top: -1px;
      font-weight: 400;

      @include mq('sp'){
        font-size: 14px;
        margin-left: 27px;
        line-height: 20px;
      }
    }
  }
}

/* ===============================================
# about
=============================================== */

.about{
  background-color: $bgc2;

  &__wrapper{
    display: flex;

    @include mq('sp'){
      display: block;
    }
  }

  &__text{
    margin-top: 64px;
    margin-left: 11.44%;

    @include mq('sp'){
      margin-left: 0;
      width: 270px;
      margin: 352px auto 0;
    }

    &-main{
      font-size: 24px;

      @include mq('sp'){
        font-size: 18px;
      }
    }

    &-sub{
      margin-top: 22px;
      font-size: 20px;
      line-height: 2;

      @include mq('sp'){
        font-size: 16px;
        line-height: calc(40 / 16);
        margin-left: 3px;
      }
    }
  }

  &__img{
    margin-left: 136px;
    margin-top: 30px;
    position: relative;

    @media screen and (max-width: 1024px) and (min-width: 768px) {
      margin-top: 60px;
      margin-left: 40px;
      width: 240px;

      img{
        width: 240px;
        height: auto;
      }
    }

    @include mq('sp'){
      margin-top: -520px;
      margin-left: 38%;
      transform: translateX(-50%);

      @media screen and (max-width: 320px){
        width: 200px;
        height: auto;
        margin-top: -490px;
        margin-left: 50%;
      }
    }

    img{
      position: absolute;
      z-index: 2;

      @media screen and (max-width: 320px){
        width: 200px;
        height: auto;
      }
    }

    &-circle{
      position: absolute;
      width: 272px;
      height: 272px;
      background-color: $bgc1;
      border-radius: 50%;
      left: 18px;
      z-index: 1;

      @media screen and (max-width: 1024px) and (min-width: 768px) {
        width: 240px;
        height: 240px;
      }

      @media screen and (max-width: 320px){
        width: 200px;
        height: 200px;
      }
    }
  }
}

/* ===============================================
# products
=============================================== */

.products{
  background-color: $bgc1;

  &__contents{
    max-width: 1008px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4%;
    margin-top: 65px;

    @include mq('sp'){
      display: block;
      width: 94.81%;
      margin: 0 auto;
      margin-top: 38px;
    }
  }

  &__item{
    background-color: $color-blown01;
    border-radius: 10px;

    & + & {
      @include mq('sp'){
        margin-top: 39px;
      }
    }

    &-img{
      width: 100%;

      img{
        width: 100%;
      }
    }

    &-name{
      font-size: 16px;
      margin-top: 26px;
      text-align: center;
    }

    &-text{
      width: 84.2%;
      margin: 0 auto;
      font-size: 12px;
      margin-top: 16px;
      padding-bottom: 32px;
      line-height: calc(20px / 12px);
    }
  }
}

/* ===============================================
# new-products
=============================================== */

.new-products{
  background-color: $bgc2;

  &__contents{
    display: flex;
    position: relative;

    @media screen and (min-width: 768px) and (max-width: 1024px){
margin-top: 50px;
    }

    &-date{
      width: 176px;
      height: 176px;
      border-radius: 50%;
      position: absolute;
      display: flex;
      align-items: center;
      top: 17px;
      left: 30px;
      padding-left: 50px;
      font-size: 38px;
      letter-spacing: 13px;
      background-color: $color-yellow02;
      span{
        font-size: 64px;
      }

      @include mq('sp'){
        width: 72px;
        height: 72px;
        left: 50%;
        transform: translateX(-50%);
        padding-left: 15px;
        padding-top: 6px;
        font-size: 24px;
        letter-spacing: 5px;
        span{
          font-size: 36px;
        }
      }
    }

    &-img{
      position: relative;

      img{
        position: absolute;
        top:22px;
        left: -330px;
        z-index: 2;
        @include mq('sp'){
          top: 123px;
          left: -294px;
          width: 233.85px;
        }
      }

      &-rectangle{
        position: absolute;
        width: 304px;
        height: 304px;
        background-color: $color-yellow02;
        top: 56px;
        left: -296px;
        @include mq('sp'){
          width: 233.85px;
          height: 233.85px;
          top: 149px;
          left: -268px;
        }
      }
    }
  }

  &__wrapper{
    margin-top: 90px;
    margin-left: 252px;

    @media screen and (min-width: 768px) and (max-width: 1024px){
      margin-top: 400px;
      margin-left: 400px;
    }

    @include mq('sp'){
      margin-left: 0;
      margin-top: 407px;
      text-align: center;
    }

    &-name{
      display: inline-block;
      font-size: 24px;

      @include mq('sp'){
        font-size: 18px;
      }
    }

    &-name-sub{
      margin-left: 21px;

      @include mq('sp'){
        font-size: 16px;
        padding-right: 12px;
      }
    }

    &-text{
      margin-top: 60px;
      font-size: 20px;
      width: 45%;
      line-height: 1.46;

      @media screen and (min-width: 768px) and (max-width: 1024px){
        width: 100%;
      }

      @include mq('sp'){
        width: 100%;
        font-size: 16px;
        margin-top: 31px;
        text-align: left;
      }
    }
  }
}

/* ===============================================
# access
=============================================== */

.access{
  background-color: $bgc1;

  &__contents{
    width: 65.413%;
    margin: 0 auto;
    display: flex;
    margin-top: 48px;

    @include mq('sp'){
      display: block;
      margin: 0;
      width: 100%;
      margin-top: 24px;
    }
  }

  &__img{
    width: 50.67%;

    @include mq('sp'){
      width: 100%;
    }

    iframe{
      width: 100%;
      aspect-ratio:339 / 254;
    }
  }

  &__wrapper{
    margin-left: 40px;

    @include mq('sp'){
      display: flex;
      flex-direction: column-reverse;
      margin-left: 18px;
    }
  }

  &__logo{
    display: flex;
    align-items: center;
    
    @include mq('sp'){
      margin-top: 24px;
      margin-left: 28px;
    }

    &-name{
      margin-left: 19px;
      font-size: 24px;
    }
  }

  &__items{
    margin-top: 30px;
    
    @include mq('sp'){
      margin-top: 18px;
    }
  }

  &__item{
    display: flex;

    & + & {
      margin-top: 16px;
    }

    &-left{
      width: 64px;
    }

    &-right{
      margin-left: 30px;

      @include mq('sp'){
        margin-left: 32px;
      }
    }
  }
}

/* ===============================================
# footer
=============================================== */

.footer{
  display: flex;
  align-items: center;
  height: 112px;

  @include mq('sp'){
    height: 72px;
  }

  &__copy{
    margin: 0 auto;
    font-size: 10px;
    letter-spacing: 1.2px;

    @include mq('sp'){
      font-size: 8px;
      letter-spacing: 0.01px;
    }
  }
}
