@charset "UTF-8";
@media screen and (max-width: 768px) {
  .container {
    width: 90%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 769px) {
  .container {
    max-width: 968px;
    width: 80%;
    margin: 0 auto;
  }
}

body {
  font-family: "Noto Sans", "Noto Sans JP", "FOT-TsukuGo Pro", serif;
  font-size: 16px;
  line-height: 1.5;
}

/* ===============================================
# pc版
=============================================== */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 88px;
  z-index: 100;
  background-color: #ffffff;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}
.header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__icon {
  margin-top: 15.58px;
}
.header__title {
  font-size: 24px;
  margin-top: 29.33px;
  margin-left: 24px;
}
.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 37px;
}
@media screen and (max-width: 768px) {
  .header__right {
    display: none;
  }
}
.header__item {
  margin-left: 40px;
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .header__item {
    margin-left: 10px;
  }
}
.header__link {
  color: #3A3A3A;
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .header__link {
    font-size: 14px;
  }
}

/* ===============================================
# fv
=============================================== */
.fv {
  position: relative;
  background: url(../img/AdobeStock_459625967\ 1.png) no-repeat center center/cover;
  background-size: auto 100%;
  color: #ffffff;
  padding-bottom: 210px;
  padding-top: 278px;
  padding-left: 10%;
  width: 100%;
  height: auto;
}
.fv::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(101, 99, 99, 0.3803921569);
  z-index: 1;
}
.fv__bg-black {
  position: relative;
  z-index: 2;
}
.fv__title {
  font-size: 48px;
  line-height: 1.6666666667;
}
.fv__text {
  padding-top: 39px;
  font-size: 24px;
}

/* ===============================================
# section
=============================================== */
.section__title {
  text-align: center;
  font-size: 24px;
}

/* ===============================================
# news
=============================================== */
.news__container {
  margin-top: 96px;
  padding-bottom: 64px;
}
.news__list {
  margin-top: 47px;
}
.news__item:not(:nth-child(1)) {
  border-top: 1px solid #3A3A3A;
}
.news__link {
  display: block;
  padding-top: 24px;
  padding-bottom: 20px;
  color: #3A3A3A;
}
.news__link-date {
  font-size: 13px;
  font-weight: 400;
}
.news__link-text {
  font-weight: 400;
  margin-left: 118px;
}

/* ===============================================
# about
=============================================== */
.about {
  background-color: #F1F7F8;
}
.about__container {
  padding-top: 48px;
}
.about__wrapper {
  margin-top: 80px;
  padding-bottom: 96px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.about__wrapper__text {
  font-size: 24px;
  width: 40.3%;
  font-family: "FOT-TsukuGo Pro";
}
.about__wrapper__img {
  width: 40%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.about__wrapper__img img {
  width: 100%;
  aspect-ratio: 16/9;
}

/* ===============================================
# features
=============================================== */
.features {
  padding-top: 80px;
}
.features__grid {
  margin-top: 72px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4%;
}
.features__card {
  background-color: #F1F7F8;
  -webkit-box-shadow: 0 4px 4px rgba(104, 151, 170, 0.2509803922);
          box-shadow: 0 4px 4px rgba(104, 151, 170, 0.2509803922);
}
.features__card-title {
  padding-top: 32px;
  text-align: center;
  font-weight: 500;
}
.features__card-text {
  padding: 31px 24px 43px;
  line-height: 2;
  font-weight: 400;
}

/* ===============================================
# service
=============================================== */
.service {
  padding-top: 96px;
}
.service__wrapper {
  margin-top: 72px;
  padding-bottom: 104px;
}
.service__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.service__item + .service__item {
  margin-top: 32px;
}
.service__item-num {
  color: #3B78B0;
  font-size: 24px;
}
.service__item-title {
  margin-left: 32px;
  -ms-flex-preferred-size: 168px;
      flex-basis: 168px;
  font-size: 24px;
}
.service__item-text {
  margin-left: 32px;
  width: 70.2%;
}

/* ===============================================
# contact
=============================================== */
.contact {
  background: url(../img/Rectangle\ 121.png) center center no-repeat;
  background-size: auto 100%;
}
.contact__wrapper {
  text-align: center;
}
.contact__bg-black {
  background: rgba(115, 114, 114, 0.5294117647);
  padding: 171px 0;
}
.contact__link {
  color: #3A3A3A;
  text-align: center;
  padding: 15px 60px;
  background: #ffffff;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2509803922);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2509803922);
}

/* ===============================================
# footer
=============================================== */
.footer {
  background-color: #F1F7F8;
}
.footer__copyright {
  display: block;
  text-align: center;
  padding: 49px 0;
}

/* ===============================================
# sp
=============================================== */
@media screen and (max-width: 768px) {
  .header {
    height: 71px;
    width: 100%;
  }
  .header__container {
    display: block;
  }
  .header__icon {
    width: 36px;
    height: auto;
    margin-top: 24px;
  }
  .header__title {
    font-size: 16px;
    margin-top: 29px;
  }
}
.drawer-icon {
  position: fixed;
  top: 10px;
  right: 16px;
  z-index: 1000;
  display: none;
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: -webkit-transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
  width: 48px;
  height: 48px;
  background-color: rgba(198, 202, 204, 0.8);
  border-radius: 50%;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1607843137);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1607843137);
}
@media screen and (max-width: 768px) {
  .drawer-icon {
    display: block;
  }
  .drawer-icon.is-active .drawer-icon__bar1 {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 8px;
  }
  .drawer-icon.is-active .drawer-icon__bar2 {
    display: none;
  }
  .drawer-icon.is-active .drawer-icon__bar3 {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 8px;
  }
}

.drawer-icon__bars {
  position: absolute;
  width: 18px;
  height: 16px;
  top: 17px;
  right: 15px;
}

.drawer-icon__bar1,
.drawer-icon__bar2,
.drawer-icon__bar3 {
  position: absolute;
  width: 18px;
  height: 2px;
  background-color: #3A3A3A;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.drawer-icon__bar1 {
  top: 0;
}

.drawer-icon__bar2 {
  top: 6px;
}

.drawer-icon__bar3 {
  top: 12px;
}

.drawer-content {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  right: 0;
  background-color: #ffffff;
  z-index: 199;
  -webkit-transform: translateX(105%);
          transform: translateX(105%);
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: -webkit-transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
  text-align: center;
}
.drawer-content.is-active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .drawer-content {
    display: block;
  }
}

.drawer-content__items {
  margin-top: 198px;
}

.drawer-content__item a {
  display: block;
  color: #3A3A3A;
  text-decoration: none;
  padding: 18px 20px;
}

/* ===============================================
# 
=============================================== */
@media screen and (max-width: 768px) {
  .fv {
    padding-top: 314px;
  }
  .fv__title {
    font-size: 24px;
  }
  .fv__text {
    font-size: 16px;
    padding-top: 16px;
  }
  .news__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .news__link-date {
    margin-top: 2px;
  }
  .news__link-text {
    margin-left: 15.4px;
  }
  .about__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .about__wrapper__text {
    width: 100%;
    margin-top: 24px;
    font-size: 16px;
    font-weight: 300;
    line-height: 2;
  }
  .about__wrapper__img {
    width: 100%;
  }
  .features__grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .features__card + .features__card {
    margin-top: 24px;
  }
  .service__item {
    display: block;
  }
  .service__item span {
    display: block;
    margin-left: 0;
    width: 100%;
    text-align: center;
  }
  .service__item-title {
    margin-top: 8px;
  }
  .service__item-text {
    margin-top: 16px;
  }
  .contact__bg-black {
    padding: 108px 0;
  }
  .footer__copyright {
    font-size: 8px;
    padding: 30px 0;
  }
}